{% extends "base.html" %}
{% block main %}
<h3>Мой профиль</h3>
<H4>данные</H4>
<br/><br/>
<span>{{ user['last_name'] }}</span>
<br/><br/>
<span>{{ user['middle_name'] }}</span>
<br/><br/>
<span>{{ user['phone'] }}</span>
<br/><br/>
{% if user['email'] %}
<span>{{ user['email'] }}</span>
<br/><br/>
{% endif %}
<span>{{ user['card_number'] }}</span>
<br/><br/>
<span>{{ user['balance'] }}</span>
<br/><br/>
{# это кнопка выхода, по своей сути делает изменнеия данных по этому лучше делать это через form чтобы явно указать что это метод POST #}
{# что для метода POST изменнеия данных характерно #}
<form action="{{ url_for('logout') }}" method="POST">
    <button type="submit">выйти</button>
</form>
{% endblock main %}