{% extends "base.html" %}

{% block main %}
    <h3>Данные пользователей:</h3>
    {% if users %}
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Карта</th>
                <th>Баланс</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user['id'] }}</td>
                <td>{{ user['first_name'] }}</td>
                <td>{{ user['last_name'] }}</td>
                <td>{{ user['card_number'] }}</td>
                <td>{{ user['balance'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/><br/>
    {% else %}
        <br/><br/>
        <h1>Пользователей нет</h1>
        <br/><br/>
    {% endif %}
{% endblock main %}